<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# # the below is a function, just without parenthesis
    # first argument is string indicating path to stylesheet
    # second argument is hash with two elements, indicating media type
    # and telling Rails to use the turbolinks feature %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# converts the contents of xxx.html.erb to HTML and inserts it in place
  of  below %>
    <%= yield %>
  </body>
</html>
